@use '../helpers' as *;

.blog-actions {
    &__list {
        display: flex;
        column-gap: rem(10);

        @include laptop {
            column-gap: rem(8);
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        column-gap: rem(4);
        color: var(--color-gray-60);
        font-size: rem(18);
        font-family: var(--font-family-accent);
        background-color: var(--color-dark-10);
        border-radius: rem(100);
        border: var(--border);
        padding: rem(8) rem(16);

        @include laptop {
            padding: rem(6) rem(12);
            column-gap: rem(2);
            font-size: rem(14);
        }

        // 👇 ПРАВИЛЬНЫЙ СЕЛЕКТОР - класс добавляется к кнопке
        &.is-active {
            svg * {
                fill: var(--color-red);
                stroke: var(--color-red);
            }
        }
    }

    &__icon-wrapper {
        --size: #{rem(24)};
        
        @include square(var(--size));

        display: flex;
        
        @include laptop {
            --size: #{20};
        }

        svg {
            width: 100%;
            height: 100%;

            * {
                fill: transparent;
            }
        }
    }
}